:root {
  --box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4), 0 1px 2px rgba(0, 0, 0, 34);
  --dark-blue: #12074fe0;
  --light-background: rgba(255, 255, 255, 0.1);
}

*{
  box-sizing: border-box;
}

body { 
  background-color: #f7f7f7;
  color: var(--dark-blue);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  margin: 0;
}

/*Header*/

h2 {
  letter-spacing: 5px;
}

span {
  font-size: 120%;
}

/*Container*/
.container {
  margin: 10vw auto;
}

/*links*/
#links {
  background-color: var(--light-background);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
}

.link {
  margin: 0 1vw;
  padding: 1rem;
  text-decoration: none;
  color: var(--dark-blue);
  letter-spacing: 2px;
  font-weight: 500;
  border-radius: 50%;
}

/*Quiz*/
.app {
  margin : 10vw auto;
}

.header {
  display: flex;
    align-items: center;
    justify-content: center;
}

/*Home Page*/
/*Background- Canvas*/
#background-canvas {
  /*Sometimes breaks on changing window width*/
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -10;
  background: linear-gradient(to left bottom, #cacaca, #dfdfdd);
}

/*Background- Three Circles*/
.circle,
.circle-one,
.circle-two {
  background: #fff;
  background: linear-gradient(
    to right top,
    rgba(255, 255, 255, 0.2),
    rgba(255, 255, 255, 0.05)
  );
  height: 20rem;
  width: 20rem;
  position: absolute;
  border-radius: 50%;
  z-index: -1;
}

.circle {
  top: 5%;
  left: 10%;
  animation: up 4s linear forwards;
}

@keyframes up {
  0% {
    top: 100%;
  }
  10% {
    top: 50%;
  }
  100% {
    top: -10%;
  }
}

.circle-one {
  top: 9%;
  right: 10%;
}

.circle-two {
  bottom: 1%;
  left: 1%;
}


/*React Logo*/

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

